@charset "UTF-8";
/*======= FONT FAMILY====== */
/*======= BODY ====== */
/*============= SET BORDER RADIUS ================= */
/*============== SET BOX SHADOW ================= */
/*============== SET FONT ================= */
/*============== SET FONT MOBILE ================= */
/*============== COLOR A:HOVER ================= */
/*============== ARTICLE MOBLE ================= */
/*============== WIGET MOBILE ================= */
/*============== SET COLUMN ================= */
/*============== SET PADDING FOOTER================= */
/*======= FONT FAMILY====== */
/*======= BODY ====== */
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

h1 {
  padding: 0px !important;
  margin: 0px !important;
}

h2 {
  padding: 0px !important;
  margin: 0px !important;
}

h3 {
  padding: 0px !important;
  margin: 0px !important;
}

h4 {
  padding: 0px !important;
  margin: 0px !important;
}

h5 {
  padding: 0px !important;
  margin: 0px !important;
}

h6 {
  padding: 0px !important;
  margin: 0px !important;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
}

.container {
  margin: 0 auto !important;
  width: 960px !important;
  text-align: left;
}

.l-main {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  margin-bottom: 10px;
  padding: 5px 10px 10px;
  background-color: #efefef;
  position: relative;
}

#header h1 {
  margin: 0 150px 5px 0;
  font-size: 1.1rem;
  font-weight: normal;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  padding: 10px 10px 5px;
  background-color: #efefef;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
/* ============== HEADER =============== */
header.c-header .header-top {
  width: 100%;
  min-width: 1000px;
  background: #ffc600;
}

header.c-header .header-top div.container p {
  padding: 10px 0;
  color: #333333;
  font-size: 12px;
  font-weight: normal;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

header.c-header .header-bottom {
  height: 70px;
}

header.c-header .header-bottom div.container > a {
  float: left;
  margin-right: 15px;
}

header.c-header .header-bottom div.container ul.menu li {
  float: left;
  height: 70px;
  line-height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

header.c-header .header-bottom div.container ul.menu li img {
  height: 100%;
}

header.c-header .header-bottom div.container ul.menu li a {
  display: block;
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  padding: 0px 17px;
}

header.c-header .header-bottom div.container ul.menu li a i {
  color: #ffc600;
  font-size: 18px;
  padding-right: 10px;
}

header.c-header .header-bottom div.container ul.menu li a span {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  padding-right: 10px;
}

header.c-header .header-bottom div.container ul.menu li.active, header.c-header .header-bottom div.container ul.menu li:hover {
  border-bottom: 4px solid #ffc600;
}

header.c-header .header-bottom div.container ul.menu li.email {
  background: #124f93;
  width: 198px;
}

/* ============== Button =============== */
div.c-button {
  margin-top: 20px;
}

div.c-button div.container a.more {
  display: inline-block;
  width: 158px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: normal;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  background: #333333;
}

div.c-button div.container a.more i {
  color: #ffc600;
  font-size: 20px;
  font-weight: normal;
  margin-left: 10px;
}

div.c-button div.container a.btn {
  display: inline-block;
  width: 152px;
  height: 37px;
  background: #ffc600;
  text-align: center;
  line-height: 37px;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-title {
  margin-top: 30px;
}

div.c-title div.container div.service-title div.service {
  height: 138px;
  background: url("../img/title_01.png") no-repeat;
  text-align: center;
  line-height: 80px;
}

div.c-title div.container div.service-title div.service p {
  color: #333333;
  font-size: 42px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-title div.container div.service-title div.service p span {
  display: block;
  color: #333333;
  font-size: 26px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  line-height: 10px;
}

div.c-title div.container div.service-title div.works {
  height: 138px;
  background: url("../img/title_02.png") no-repeat;
  text-align: center;
  line-height: 80px;
  margin-top: 30px;
}

div.c-title div.container div.service-title div.works p {
  color: #333333;
  font-size: 42px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-title div.container div.service-title div.works p span {
  display: block;
  color: #333333;
  font-size: 26px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  line-height: 10px;
}

div.c-breadcum {
  margin-top: 20px;
}

div.c-breadcum div.container ul.breadcum li {
  float: left;
}

div.c-breadcum div.container ul.breadcum li a {
  display: block;
  color: #006699;
  font-size: 12px;
}

div.c-breadcum div.container ul.breadcum li.active a {
  color: #333333;
  font-size: 12px;
}

div.c-breadcum div.container ul.breadcum li.active a:before {
  content: " > ";
  margin: 0 5px;
}

div.c-breadcum div.container ul.breadcum:after {
  content: "";
  display: table;
  clear: both;
}

div.c-subtitle {
  margin-top: 30px;
}

div.c-subtitle div.container div.subtitle-1 {
  display: inline-block;
}

div.c-subtitle div.container div.subtitle-1 div.line-top-1 {
  border-top: 4px solid #ffc600;
  width: 90px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

div.c-subtitle div.container div.subtitle-1 p {
  color: #333333;
  font-size: 34px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-subtitle div.container div.subtitle-2 {
  margin-left: 50px;
  display: inline-block;
}

div.c-subtitle div.container div.subtitle-2 div.line-top-2 {
  border-top: 4px solid #ffc600;
  width: 90px;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 20px;
}

div.c-subtitle div.container div.subtitle-2 p {
  color: #999999;
  font-size: 16px;
  font-weight: normal;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-info div.container div.img {
  float: left;
}

div.c-info div.container div.info {
  float: left;
  margin-left: 28px;
  width: 530px;
}

div.c-info div.container div.info p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  margin-bottom: 50px;
}

div.c-info div.container div.info p span {
  display: inline-block;
  margin-left: 17px;
}

div.c-info div.container div.info div.info-title {
  color: #ec8500;
  font-size: 24px;
  font-weight: 400;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-info div.container:after {
  content: "";
  display: table;
  clear: both;
}

div.c-article div.container div.list-article p {
  color: #006699;
  font-size: 24px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

div.c-article div.container div.list-article p:before {
  font-family: FontAwesome;
  content: "\f105";
  color: #ffc600;
  font-size: 24px;
  font-weight: bold;
}

div.c-article div.container div.info-article div.text {
  width: 330px;
  height: 83px;
  background: #ffde6a;
  display: table-cell;
  vertical-align: middle;
}

div.c-article div.container div.info-article div.text div.text-article {
  float: left;
  margin-left: 20px;
}

div.c-article div.container div.info-article div.text div.text-article p {
  color: #333333;
  font-size: 15px;
  font-weight: bold;
}

div.c-article div.container div.info-article div.text div.subtitle-article {
  float: left;
  margin-left: 20px;
}

div.c-article div.container div.info-article div.text div.subtitle-article p {
  color: #333333;
  font-size: 16px;
  font-weight: normal;
}

div.c-widget {
  margin-top: 30px;
}

div.c-widget div.container div.box div.box-title {
  background: url("../img/bg_widget_01.png");
  width: 240px;
  height: 58px;
  line-height: 58px;
}

div.c-widget div.container div.box div.box-title p {
  margin-left: 20px;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
}

div.c-widget div.container div.box div.box-list {
  width: 240px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid #ffc600;
  border-top: none;
}

div.c-widget div.container div.box div.box-list ul li a {
  display: block;
  height: 52px;
  border-bottom: 1px solid #dddddd;
  line-height: 52px;
  padding-left: 20px;
  color: #006699;
  font-size: 16px;
  font-weight: normal;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  position: relative;
}

div.c-widget div.container div.box div.box-list ul li a:after {
  font-family: FontAwesome;
  content: "\f105";
  position: absolute;
  right: 10px;
  color: #ffc600;
  font-size: 16px;
}

div.c-widget div.container div.box div.box-list ul li:last-child a {
  border-bottom: none;
}

div.c-list-icons {
  margin-top: 50px;
}

div.c-list-icons div.container div.icons ul.list-icons li {
  float: left;
}

div.c-list-icons div.container div.icons ul.list-icons li a {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  line-height: 40px;
  margin-right: 7px;
  color: #333333;
  font-size: 16px;
}

div.c-list-icons div.container div.icons ul.list-icons li a.active {
  background: #ffc600;
  border: none;
}

div.c-list-icons div.container div.icons ul.list-icons:after {
  content: "";
  display: table;
  clear: both;
}

div.c-list-icons div.container div.next-page {
  margin-top: 50px;
}

div.c-list-icons div.container div.next-page ul.list-next-page li {
  float: left;
}

div.c-list-icons div.container div.next-page ul.list-next-page li a {
  display: block;
  padding: 13px 20px;
  border: 1px solid #dddddd;
  margin-right: 5px;
  color: #333333;
  font-size: 16px;
}

div.c-list-icons div.container div.next-page ul.list-next-page:after {
  content: "";
  display: table;
  clear: both;
}

div.c-list-images {
  margin-top: 50px;
}

div.c-list-images div.container div.box-images {
  width: 690px;
}

div.c-list-images div.container div.box-img-small div.img-small {
  float: left;
  margin: 10px 10px 10px 0;
}

div.c-list-images div.container div.box-img-small div.img-small img {
  display: block;
}

div.c-list-images div.container div.box-img-small div.img-small:last-child {
  margin-right: 0px;
}

div.c-list-images div.container div.box-img-small:after {
  content: "";
  display: table;
  clear: both;
}

div.c-form div.container table {
  border-collapse: collapse;
}

div.c-form div.container table tr {
  border-top: 1px solid #dddddd;
}

div.c-form div.container table tr th {
  background: #f3f3f3;
  vertical-align: top;
  padding: 15px 0;
}

div.c-form div.container table tr th div {
  margin-right: 10px;
}

div.c-form div.container table tr th div.red {
  color: #fff;
  font-size: 12px;
  background: #c81b1b;
}

div.c-form div.container table tr th div.gray {
  color: #fff;
  font-size: 12px;
  background: #888888;
}

div.c-form div.container table tr th.title-form {
  height: 60px;
  width: 165px;
  background: #f3f3f3;
  padding-left: 20px;
  color: #333333;
  font-size: 16px;
}

div.c-form div.container table tr td {
  padding: 15px 0;
  padding-left: 20px;
  color: #333333;
  font-size: 16px;
  vertical-align: top;
}

div.c-form div.container table tr td input[type="text"] {
  display: block;
}

div.c-form div.container table tr td input.long {
  width: 500px;
}

div.c-form div.container table tr td input.selection {
  margin-top: 15px;
}

div.c-form div.container table tr td input.short {
  width: 250px;
}

div.c-form div.container table tr td p {
  margin-top: 10px;
}

div.c-form div.container table tr td p span {
  margin-left: 10px;
}

div.c-form div.container table tr td select {
  width: 145px;
}

div.c-form div.container table tr td textarea {
  width: 702px;
  height: 70px;
}

div.c-form div.container table tr:last-child {
  border-bottom: 1px solid #dddddd;
}

div.c-form div.container div.btn-form {
  margin-top: 50px;
  text-align: center;
}

div.c-form div.container div.btn-form a {
  display: inline-block;
  width: 227px;
  height: 56px;
  background: #124f93;
  line-height: 56px;
  color: #fff;
  font-size: 20px;
}

div.c-form div.container div.btn-form a i {
  margin-left: 10px;
  color: #ffc600;
  font-size: 20px;
}

/* ============== Elements =============== */
/* ============== Footer =============== */
footer.c-footer {
  margin-top: 50px;
}

footer.c-footer div.footer-top {
  min-width: 1000px;
  width: 100%;
  background: #ffc600;
  height: 286px;
}

footer.c-footer div.footer-top div.container div.left {
  width: 50%;
  float: left;
  margin: 30px 0;
}

footer.c-footer div.footer-top div.container div.left div.logo-footer {
  margin-bottom: 25px;
}

footer.c-footer div.footer-top div.container div.left div.info {
  float: left;
  margin-right: 20px;
}

footer.c-footer div.footer-top div.container div.left div.info p {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  text-decoration: none !important;
}

footer.c-footer div.footer-top div.container div.left div.add {
  floar: left;
}

footer.c-footer div.footer-top div.container div.left div.add p {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  font-family: "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

footer.c-footer div.footer-top div.container div.left div.add p span {
  margin-left: 15px;
}

footer.c-footer div.footer-top div.container div.right {
  position: absolute;
  left: 50%;
  width: 50%;
  float: left;
}

footer.c-footer div.footer-top div.container div.right iframe {
  width: 100%;
}

footer.c-footer div.footer-bottom {
  background: #333333;
  min-width: 1000px;
  width: 100%;
}

footer.c-footer div.footer-bottom div.container div.menu-footer {
  text-align: center !important;
  padding: 30px 0;
  border-bottom: 1px solid #666666;
}

footer.c-footer div.footer-bottom div.container div.menu-footer ul.menu {
  display: inline-block;
}

footer.c-footer div.footer-bottom div.container div.menu-footer ul.menu li {
  float: left;
}

footer.c-footer div.footer-bottom div.container div.menu-footer ul.menu li a {
  color: #fff;
  font-size: 14px;
  display: block;
  padding: 0 10px;
  border-right: 1px solid #FFF;
}

footer.c-footer div.footer-bottom div.container div.menu-footer ul.menu:after {
  content: "";
  display: table;
  clear: both;
}

footer.c-footer div.footer-bottom div.container div.copy-right p {
  text-align: center;
  color: #666666;
  font-size: 12px;
  padding: 15px 0;
}

/* ============== Mobile =============== */
