div.c-breadcum{
	margin-top:20px;
	div.container{
		ul.breadcum{
			li{
				float:left;
				a{
					display:block;
					@include setFont(12px, #006699);
				}
				&.active{
					a{
						@include setFont(12px, #333333);
						&:before{
							content: " > ";
							margin: 0 5px;
							// display:inline;
						}
					}
				}
			}
			@include clearfix;
		}
	}
}
