div.c-info{
	div.container{
		div.img{
			float:left;
		}
		div.info{
			float:left;
			margin-left:28px;
			width:530px;
			p{
				@include setFont(16px,#333333,400, $font-gothic);
				margin-bottom:50px;
				span{
					display:inline-block;
					margin-left: 17px;
				}			
			}
			div.info-title{
				@include setFont(24px,#ec8500,400, $font-gothic);	
			}
		}					
		@include clearfix;
	}
}